body {
    font-family: Arial, sans-serif;
    background-color: #583B7E;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.help-icon {
    position: absolute; 
    top: 10px; 
    right: 10px;
    padding: 100px;
    padding-left: 100px;
    cursor: pointer;
}

.form-container {
    background-color: #a6a6d2;
    padding-top: 40px;
    padding-left: 80px;
    padding-right: 100px;
    padding-bottom: 40px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.form-container label {
    display: block;
    margin-bottom: 5px;
}
.form-container input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.form-container button {
    width: 100%;
    padding: 10px;
    margin-left: 10px;
    background-color: #333;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.form-container button:hover {
    background-color: #555;
}
